<div class="static-page">
  <h2>Le concept</h2>
  <div class="concept row">
    <!-- <p class='text-center'>
      La poire en deux est un outil servant la mise en relation des agriculteurs et des consommateurs sans intermédiaires.<br>
    </p> -->
    <div class="bubble">
      <div class="item col-sm-4">
        <div class="circle"></div>
        <p class="circle-line">Une agriculture raisonnée</p>
      </div>
      <div class="item col-sm-4">
        <div class="circle"></div>
        <p class="circle-line">Des produits locaux</p>
      </div>
      <div class="item col-sm-4">
        <div class="circle"></div>
        <p class="circle-line">Pas d'intermédiaires</p>
      </div>
    </div>
    <p>Dans un souci de responsabilisation de l'environnement, l'équipe de la Poire en Deux s'est lancée le défi d'apporter un nouveau souffle au marché de l'agriculture. Face à un clivage urbain / rural de plus en plus marqué, l'agriculture de proximité peine à se faire une place dans le marché actuel. Pourtant, son utilité n'est plus à prouver - les produits sont frais, de saison, et l'environnement y gagne gros.

    <p>La Poire en Deux, c’est une plateforme qui fait le lien direct entre l'agriculture de proximité et les consommateurs, en s’affranchissant de tout intermédiaire. </p>

    <h3 class='text-center-xs'>Fonctionnement</h3>
    <p>En tant que producteur, vous possédez votre propre boutique en ligne et exposez vos produits de saison en fonction de votre production personnelle. Une occasion en or de faire revivre votre marché en créant des liens humains avec vos acheteurs, sans se préoccuper des impératifs industriels.</p>
    <p>
      L'objectif de La Poire en Deux est donc de solliciter à la fois producteurs et consommateurs afin de mettre en place un mode d'agriculture solidaire, humain, et où tout le monde y gagne. Pour une agriculture plus saine, de la fourche à la fourchette.
    </p>

  </div>
</div>
