<div class="static-page team">
  <h2>Qui sommes nous ?</h2>
  <p class="description">Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris, alente inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant, quod eorum capiti quidam consortes apud Iconium Pisidiae oppidum in amphitheatrali spectaculo feris praedatricibus obiecti sunt praeter morem.</p>
  <h2>L'équipe</h2>
  <div class="bubble row">
    <div class="person  col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Vincent Ferrera</p>
        <p class="content">Rédaction Web</p>
      </div>
    </div>
    <div class="person  col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Moïra Iglesias</p>
        <p class="content">Rédaction Web</p>
      </div>
    </div>
    <div class="person  col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Lucile Pozzo Di Borgo</p>
        <p class="content">Communication / Business Plan</p>
      </div>
    </div>
    <div class="person  col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Eva Caubel</p>
        <p class="content">Graphiste</p>
      </div>
    </div>
    <div class="person  col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Swann Lataza</p>
        <p class="content">Graphiste / Communication</p>
      </div>
    </div>
    <div class="person  col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Juliette Pouillhe</p>
        <p class="content">Graphiste / Communication</p>
      </div>
    </div>
    <div class="person col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Martin Smt</p>
        <p class="content">Graphiste / Motion Designer</p>
      </div>
    </div>
    <div class="person  col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Mélanie Bélard</p>
        <p class="content">Intégration Web</p>
      </div>
    </div>
    <div class="person  col-sm-3 col-sm-offset-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Yann Bergonzat</p>
        <p class="content">Développeur Back</p>
      </div>
    </div>
    <div class="person  col-sm-3">
      <div class="circle"></div>
      <div class="description">
        <p class="name">Solal Dussout-Revel</p>
        <p class="content">Développeur Front</p>
      </div>
    </div>
  </div>
</div>
