footer {
	padding: 30px 0;
	background-color: $secondary-color;
	position: relative;
	bottom: 0;
	color:white;
	
	a {
		text-decoration: none;
		color: white;		
	}
	
	.copyright {	
		margin-top:35px;
		padding-top: 10px;
		border-top: .5px solid white;
	}
	
	.footer_title {
		text-align: center;
	}
	
	ul {
//		padding-left :0;
		li {
			list-style: none;
		}		
	}
	.copyright {
		margin-bottom: 0;
		display: inline-block;
		text-align: center;
	}
	
}
