#header {
  background-color: rgba(255,255,255,0.9);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  h1,
  h2 {
    margin: 0;
    img {
      height: 50px;
    }
  }
  .navbar-header {
    button.navbar-toggle {
      margin-top: 20px;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      border: 2px solid grey;
      .icon-bar {
        &:nth-child(2) {
          transform: rotate(0deg);
          transition: .4s all ease-in;
        }
        &:nth-child(3) {
          transform: rotate(0deg);
          transition: .4s all ease-in;
        }
        &:nth-child(4) {
          transform: rotate(0deg);
          transition: .4s all ease-in-out;
        }
      }
    }
    button.navbar-toggle:hover {
      position:relative;
      .icon-bar {
        &:nth-child(2) {
          position: absolute;
          transform: rotate(270deg);
          top: 20px;
        }
        &:nth-child(3) {
          position: absolute;
          transform: rotate(-125deg);
          width: 15px;
          left: 9px;

        }
        &:nth-child(4) {
          position: absolute;
          transform: rotate(125deg);
          width: 15px;
          right: 8px;
        }
      }
    }
  }
  #navbar {
    margin-top: 15px;
    .inscription-button {
      color: $secondary-color;
    }
    .nav li a {
      text-align: right;
      padding: 10px;
      background-color: transparent;
      text-transform: uppercase;
      &.header-panier {
        padding-top: 0;
        img {
          height: 25px;
          width: 25px;
          padding: 0;
          margin-left: 3px;
          display: block;
        }
        p {
          display: block;
          text-align: center;
          margin: 0;
        }
      }
    }
    .nav li:hover {
      background-color: transparent;
    }
    .item-compte {
      text-align: right;
      height: 30px;
    }
  }
}
@media screen and (max-width:768px) {
  #header #navbar {
    margin-top: 7px;
    width: auto;
    float: right;
    ul {
      margin-top: -10px;
      padding: 20px 0;
      background-color: rgba(254, 84, 101,0.8);
      & > li {
        padding: 5px 30px;
        a {
          color: white;
          #panier-img {
            display: none;
          }
          &.header-panier {

            p {
              display: inline-block;
              float: right;
              &::after {
                content:'';
                display: inline-block;
                float: right;
                margin-left: 10px;
                width: 25px;
                height: 25px;
                background-image: asset_url('icones/panier.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
          }
        }
      }
    }
  }
}
