#header {
	
	background-color:$main-bg-color; 
	height: 80px;
	
	h1, h2 {
		margin:0;
		img {
			height: 50px;
		}
	}
	.navbar-header {
		button.navbar-toggle {
			margin-top:20px;
		}
	}
	#navbar {
		margin-top: 15px;
		
		.inscription-button {
			color:$secondary-color;
		}
		
		.nav li a{
			padding:10px;
			background-color : $main-bg-color;
			text-transform: uppercase    ;
		}
		.nav li:hover {
			background-color : $main-color;
		}
		
		.item-compte {
			text-align: right;
			height: 30px;
		}
		
		.header-panier {
			
			img {
				height: 20px;
				padding: 0;
				margin-right: 10px;
				display: inline-block;
			}
			
			p {
				display: inline-block;
				margin: 0;
			}
		}
	}
}