$main-color: #c6e751;
$secondary-color: #fe5465;
$main-bg-color: #fff;
$secondary-color-darker: #93313a;

$main-title-font: 'Pacifico', cursive;
$subtitle-font: 'Handlee', cursive;
$sitewide-font: 'Maven Pro', sans-serif;

@mixin transition($transition...){
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

#test {
	color:red;
}