// Place all the styles related to the Farms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#result_section, #farm_section {
	.menu-filter {
		.filter-section {
			background-color: $secondary-bg-color;
			padding:20px 15px;
			border-radius: 5px;
			margin-bottom: 20px;

			.filter-section-title {
				text-align: center;
				font-weight: 300;
				text-transform: uppercase;
				color: $main-color;
			}

			.filter {
				display: block;
				font-weight: 200;
				font-size: 1.1em;

				input[type="checkbox"] {
					margin:0 10px;
				}
			}

			input[type="text"]{
				width: 81%;
				height: 30px;
				display: inline;
			}
			input[type="submit"]{
				background-image: image-url('icones/tool.png');
				background-size: 60%;
				background-repeat: no-repeat;
				background-position: center;
			}
			ul {
				padding-left: 0;
				li {
					list-style: none;
					font-size:.1.1em;
					font-weight: 200;
					padding: 5px 0;
				}
			}
			.description {
				border-top: 1px solid grey;
				font-size: 0.9em;
				font-weight: 200;
				margin-top: 15px;
				padding-top: 15px;
			}


		}
		form {
			recherche_nav {
				display: inline;
			}
			.input-group-btn, .input-group-btn input {
				display: inline;
				max-width: 20%;
				height: 30px;
				margin-left:-5px;
			}
		}
	}
}
#result_section {
	.results {
		.form-inline {
			margin:0 0 20px 0;
			input[type="text"]{
				height: 30px;
			}
			input[type="submit"]{
				height: 30px;
				background-image: image-url('icones/tool.png');
				background-size: 60%;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		.recherche-out {
			margin-top: 20px;

			.item_boutique {
				width: 200px; height: 200px;
				border: 1px solid black;
				margin: 20px auto;
			}
			.new_farm {
				border-radius: 10px;
				border: 1px solid transparent;
				background-color:$secondary-bg-color;
				color:#888;
				font-size: 75px;
				padding-top:20%;
				text-align: center;
			}
			.new_farm:hover {
				color:black;
				border: 1px solid #888;
				-webkit-transition: .1s all ease-in;
				-moz-transition: .1s all ease-in;
				-o-transition: .1s all ease-in;
				transition: .1s all ease-in;
			}
		}
	}
}

#farm_section {
	.results {
		h2 {
			margin-top:0;
			margin-bottom :40px;
			font-size: 3em;
			font-weight: 300;
			letter-spacing: 3px;
		}
		.form-inline {

			margin:0 0 20px 0;

			input[type="text"]{
				height: 30px;
			}
			input[type="submit"]{
				height: 30px;
			}
		}

		.recherche-out {
			margin-top: 20px;

			.item_boutique {
				width: 200px; height: 200px;
				border: 1px solid black;
				margin: 20px auto;
			}
		}
	}
}
