// Place all the styles related to the Farms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#result_section, #farm_section {
	h2 {
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;
		font-weight: thin;
	}
	.menu-filter {
		.filter-section {
			background-color: $secondary-bg-color;
			padding:20px 15px;
			border-radius: 5px;
			margin-bottom: 20px;
			.filter-section-title {
				text-align: center;
				font-weight: 300;
				text-transform: uppercase;
				color: $main-color;
			}
			.filter {
				display: block;
				font-weight: 200;
				font-size: 1.1em;
				input[type="checkbox"] {
					margin:0 10px;
				}
			}
			input[type="text"]{
				width: 81%;
				height: 30px;
				display: inline;
			}
			input[type="submit"]{
				background-image: image-url('icones/tool.png');
				background-size: 60%;
				background-repeat: no-repeat;
				background-position: center;
			}
			ul {
				padding-left: 0;
				li {
					list-style: none;
					font-size:.1.1em;
					font-weight: 200;
					padding: 5px 0;
				}
			}
			.description {
				border-top: 1px solid grey;
				font-size: 0.9em;
				font-weight: 200;
				margin-top: 15px;
				padding-top: 15px;
			}
		}
		form {
			.recherche_nav {
				display: inline;
			}
			.input-group-btn, .input-group-btn input {
				display: inline;
				max-width: 20%;
				height: 30px;
				margin-left:-5px;
			}
		}
	}
}
#result_section {
	.results {
		.display-filter {
			position: fixed;
			cursor: pointer;
			z-index: 999;
			padding-top: 20px;
			top:80px;
			left: 0;
			width: 100%;
			display: none;
			text-align: center;
			background-color: $secondary-color;
			height: 55px;
			font-family:sans-serif;
			font-weight: thin;
			letter-spacing: 3px;
			color: white;
			text-transform: uppercase;
		}
		.form-inline {
			margin:0 0 20px 0;
			input[type="text"]{
				height: 30px;
			}
			input[type="submit"]{
				height: 30px;
				background-image: image-url('icones/tool.png');
				background-size: 60%;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		.recherche-out {
			margin-top: 20px;
			.item_boutique {
				margin: 20px auto;
				position : relative;
				.photo-contain {
					min-height: 150px;
					width: 100%;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}
				.delete, .edit {
				      position: absolute;
				      width: 30px;
				      height: 30px;
				      border-radius: 5px;
				      border: 1px solid white;
				      top: 5px;
				      background-size: 70%;
				      background-position: center;
				      background-repeat: no-repeat;
				      -webkit-transition:.2s all ease-in;
				      -moz-transition:.2s all ease-in;
				      -o-transition:.2s all ease-in;
				      transition:.2s all ease-in;
				    }
				    .edit {
				      right: 20px;
				      background-image:asset_url('icones/edit.png');
				      background-color: $main-color;
				    }
				    .delete {
				      right: 55px;
				      background-image:asset_url('icones/delete.png');
				      background-color: $secondary-color;
				    }
				    .delete:hover, .edit:hover {
				      background-size: 60%;
				    }
				.description {
					border: 1px solid grey;
					min-height: 40px;
					background-color: rgba(255,255,255,1);
					width: 100%;
					padding: 10px;
					vertical-align: bottom;
					.item-boutique-title {
						color: black;
						font-size: 15px;
					}
					.item-boutique-address{
						color: grey;
						text-transform: uppercase;
						font-size: 12px;
						margin-top: 4px;
					}
				}
			}
			.new_farm {
				border-radius: 10px;
				border: 1px solid transparent;
				background-color:$secondary-bg-color;
				color:#888;
				height: 190px;
				font-size: 75px;
				padding-top:75px;
				text-align: center;
			}
			.new_farm:hover {
				color:black;
				border: 1px solid #888;
				-webkit-transition: .1s all ease-in;
				-moz-transition: .1s all ease-in;
				-o-transition: .1s all ease-in;
				transition: .1s all ease-in;
			}
		}
	}
}
#farm_section {
	.results {
		h2 {
			margin-top:0;
			margin-bottom :40px;
			font-size: 3em;
			font-weight: 300;
			letter-spacing: 3px;
		}
		.form-inline {
			margin:0 0 20px 0;
			input[type="text"]{
				height: 30px;
			}
			input[type="submit"]{
				height: 30px;
			}
		}
		.recherche-out {
			margin-top: 20px;
			.item_boutique {
				width: 200px; height: 200px;
				border: 1px solid black;
				margin: 20px auto;
			}
		}
	}
}
@media screen and (max-width:768px) {
	#result_section {
		nav.menu-filter {
			position: fixed;
			width: 100%;
			top: 125px;
			right: 0;
			z-index: 999;
			padding-top: 15px;
			display: block;
			visibility: visible;
			background-color: rgba(255,255,255,0.9);
			.filter-section {
				background-color: white;
				background-color: transparent;
				margin-bottom: 0;
			}
		}
		nav.menu-filter.after {
			visibility: hidden;
		}
		.results {
			.form-inline {
				margin-top: 40px;
			}
			.display-filter {
				display: block;
			}
			.filter-section {
				opacity: 0;
			}
		}
	}
}
